body {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  background: linear-gradient(120deg, #011a2a, hsl(249, 93%, 12%));
  height: 100vh;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.center {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: rgb(17, 17, 72);
  padding: 5px;
}
.box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
}
.box cent {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box h5 {
  color: rgb(237, 237, 242);
  font-family: "Times New Roman", Times, serif;
}
.box p {
  color: rgb(146, 146, 201);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.box h6 {
  color: aqua;
}
