body {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  background: linear-gradient(120deg, #011a2a, hsl(249, 93%, 12%));
  height: 100vh;
  overflow: hidden;
}
.center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 450px;
  background: rgb(2, 2, 45);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid rgb(243, 237, 237);
}
.center p {
  padding: 0 40px;
  box-sizing: border-box;
  width: 20;
  color: grey;
}
.center h1 {
  width: 20;
}
